.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.7rem;
    background-color:#ffffff;
    padding: .5rem 1rem;
    width: 100%;
}

.navbar-logo img {
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.navBarLinks{
    display: block;
    list-style: none;
    position: absolute;
    right: 3%;
}

.navBarLinks li{
    display: inline;
    margin-right: 20px;
}
