.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.7rem;
    background-color:#ffffff;
}

.navBarLinks{
    display: block;
    list-style: none;
    position: relative;
    left: 900px;
}

.navBarLinks li{
    display: inline;
    margin-right: 10px;
}